:root{
    --color-logo: #5c5d61fd;
    --color-naranja: rgb(247, 126, 13);
    --color-azul:rgb(24, 129, 199);
    --color-blanco: rgb(252, 248, 248);
}
html{    
    scroll-behavior: smooth;
}
body{
    font-family: 'PT Mono', monospace;
}

/* Header y nav */

.header-nav-wrapper{
 position:fixed;
 width: 100vw;
 z-index:1; 
background-color: rgba(255, 255, 255, 0.856);              
} 
.header-nav-wrapper header{
    float:left;
    z-index:1;
    margin-top: 1.5rem;
    margin-left: 1.5rem;   
}
.header-nav-wrapper nav{
    float:right;   
    z-index:1;   
    margin-top: 1.5rem;
    margin-right: 10%;    
}
nav>ul li{
    display:inline-block;
    padding: .5rem;
}
nav a {
    display: block;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.1rem;
    transition: all 0.2s linear;
    color: var(--color-azul); 
}
nav a:hover, .active {
    color: var(--color-naranja);
    border-bottom: 3px solid var(--color-naranja); 
}

/* Icono-Header */

.border-logo{    
    width: 4rem;
    height: 4rem;
    display: inline-block;
    border-radius: 10px;
    border: 4px solid var(--color-logo);
    position: relative;
    transition: transform 1s ease-in-out;
}
 .border-logo .text-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform .8s ease-in-out;
    font-size: 2rem;
    color: var(--color-logo);
 }
 .border-logo:hover {
    opacity: .9;
    transform: rotate(360deg);
    background-color: var(--color-naranja); 
    border: 4px solid var(--color-naranja);
  }
  .border-logo:hover .text-logo {
    color: white;
    transform: translate(-50%, -50%) rotate(360deg);
  }
    
  
/* Section portada */

section#portada header{    
    padding: 5rem 0; 
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-items: center;     
   
}
section#portada h1{
    min-width: 300px; 
    padding-top: 3.5rem;
    padding-bottom:6rem;
    text-align: center;
    font-size: 4rem;
    line-height: 1.4;
    color: var(--color-logo);
}
section#portada .hola{
    font-size:7rem;
    color:var(--color-naranja);
}
section#portada .nombre{
    color: white;
    background-color:var(--color-naranja);
    padding: .8rem;    
}
section#portada .image-portada-wrapper{
    margin-right: 5rem;
    min-width: 300px;     
    background-repeat: no-repeat;
    background-size: 80%;
    background-position:center;
    /* background-position-y: 1rem; */
    background-image: url(./assets/Retrado_sinfondo2.png);
    animation: titulo 20s linear;
    animation-fill-mode: backwards;
}

@keyframes titulo {
    0% {
    transform:  scale(1);
    }
    10% {
        transform: scale(1.04);    
    }
    20% {
      transform: scale(1.08); 
    }
    30% {
        transform: scale(1.12);   
      }
    40% {
      transform: scale(1.16);   
    }
    50% {
      transform: scale(1.2);  
    }
    60% {
        transform: scale(1.16);    
      }
    70% {
        transform: scale(1.12);
     }
    80% {
      transform: scale(1.08);     
    }
    90% {
        transform: scale(1.04);       
      }
    100% {
      transform: scale(1);     
    }
  }

/* Secciones*/

section h2{
    padding-top: 5rem;
    padding-bottom: 2rem;    
    font-size: 5rem;
    text-align: center;
    color:var(--color-azul);
    clear:both;
}
section p{
    padding: 1rem 2rem;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.4;
}


/* Sección sobre mi */

section#sobre-mi .sobre-mi-imagen {
    width: 35%;
    min-width: 300px;   
    float: left;
}
section#sobre-mi .text-sobre-mi-wrapper{
    display: inline-block;
    margin-bottom: 3rem;    
    width: 60%;   
       
}


/* Sección Formación */

section#formacion p:nth-of-type(4){
    background-color: var(--color-azul);
    border-radius: 5px;
    width: 80%;
    min-width: 280px;
    margin: 0.5rem auto;
}
section#formacion .lenguajes{
    position: relative;
    text-align: center;
    min-width: 280px;
    font-size: 1.4rem;   
    color:white; 
}
section#formacion li{
    margin:.8rem;
    list-style: none;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.4;
}
section#formacion li::before {
    content: "•"; 
    padding-right: 8px;
    color:var(--color-naranja); 
    font-size: 1.5rem;
}
section#formacion .cv{
    text-align: center;
    font-size: 2rem;
    color: rgb(55, 157, 224);
}
section#formacion .cv>a{
    color:var(--color-naranja);
    font-size: 2.5rem;
}


/* Experiencia */

.fa-linkedin{
    color: var(--color-azul);
}
section#experiencia article{
    text-align: center;
}
section#experiencia a{
    display:inline-block;    
}
section#experiencia .experiencia-imagen{
    float: left;
    width: 35%;
    
}
section#experiencia p:nth-of-type(4){
    display:inline-block;   
}


/* Sección Contacto */

form{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
section#contacto input, section#contacto textarea,
section#contacto button {
    padding: 0.8rem;
    margin:0.6rem;
    letter-spacing: normal; 
    border: 0px solid; 
    border-bottom: 1px solid var(--color-blanco);
    width: 50%;
    min-width: 320px;
    font-family: 'PT Mono', monospace;   
    font-size: 1.5rem;    
}
section#contacto button{
    border: 0px solid; 
    background-color: var(--color-azul);
    color: var(--color-blanco);
}
section#contacto textarea{
    height: 8rem;
    font-size:1.1rem;
    padding: 0.2rem;
    margin-bottom:1rem;
}
.input-hidden{
    display:none;
}
input#otros{
    background-color: rgba(166, 213, 231, 0.877);
}


/* Footer */
footer p{
    margin: 2rem;
    text-align: center;
    font-family: 'PT Mono', monospace;  
    color: var(--color-logo);
}
.fa-bars{
    display:none;
}

@media screen and (max-width: 820px){
    .menu-top{
        display:none;
    }
    .fa-bars{
        display: initial;
        float:right;   
        z-index:1;   
        margin-top: .5rem;
        margin-right: 6%; 
        color: var(--color-blanco);  
    }
    .header-nav-wrapper{
        background-color: var(--color-azul);              
    } 
    .header-nav-wrapper header{
        margin-top: .4rem;
        margin-left: 6%;   
    }
    .border-logo{    
        width: 2.5rem;
        height: 2.5rem;
        border: 4px solid var(--color-blanco);
    }
    .border-logo .text-logo{
        font-size: 1rem;
        color: var(--color-blanco);       
    }
    nav.hidden{
        display:initial;       
        position: absolute;
        height: 100vh;
        width: 100vw;
        right: 0;              
        z-index:2;   
        background-color: rgba(24, 129, 199, 0.808); 
        margin-top: 0;
        margin-top: 3rem;
        margin-right: 0;
        text-align: center;       
    }
   nav.hidden>ul li{
        display:block;
        padding: 1rem;        
    }
    nav.hidden a {
        display: block;
        width: 60%;
        margin: 0 auto;
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 2rem;             
        transition: all 0.2s linear;
        color: var(--color-blanco); 
    }
    section#portada header{
        grid-template-columns: 100%;
        padding: 1rem 0;        
    }
     
    section#portada h1{
        width:100%;
        font-size: 3.8rem;
        padding-bottom: 0;
    } 
    section#portada .hola{
        font-size:5rem;
        color:var(--color-naranja);
    }
    section#portada .image-portada-wrapper{
        margin-right: 0;
        height: 60vh;
        background-size: 55%;        
    }

    section#sobre-mi header{
       clear: both;
    }
    .line{
        height: 320px;
        width: 100%;
        border-bottom: 0px solid white;
    }
    section#sobre-mi .sobre-mi-imagen {
       width:100%;    
       background-size: cover;
      
    }
    section#sobre-mi .text-sobre-mi-wrapper{      
        width: 100%;          
    } 
    
    section h2{
        padding-top: 3rem;
        padding-bottom: 1rem;    
        font-size: 3rem;
    }
    section p{
        padding: 0.5rem 0.2rem;
        font-size: 1.1rem;
        text-align: justify;
        line-height: 1.4;
    }
    section#formacion li{
        margin:.6rem;
        font-size: 1.1rem;
    }
    section#formacion ul{
       padding-left: 0.3rem;
    }
    span.resaltar-texto{
       font-size: 1.1rem;
    }
    section#experiencia .experiencia-imagen{
        width: 100%;        
    }
    section#contacto input, section#contacto textarea,
    section#contacto button{
    font-size: 1.1rem;
    }
}
@media screen and (max-width: 480px){

    section#portada .image-portada-wrapper{
        width:85%;
        height: 18rem;
        background-size: 50%;
        background-position-x: 50%;        
    }
    section#portada h1{
        width:100%;
        font-size: 3.5rem;
    } 
    section#portada .hola{
        font-size:4rem;
        color:var(--color-naranja);
    }
    .line{
        height: 320px;
        width: 100%;
        border-bottom: 0px solid white;
    }

    section#contacto input, section#contacto textarea,
    section#contacto button{
    font-size: 1.1rem;
    }
}
@media screen and (max-height: 380px){

    section#portada h1{
        padding:2rem 0;
    } 
    section#portada .image-portada-wrapper{
        width:85%;
        height: 300px;
        background-size: 30%;                
    }
}