:root{
    --color-logo: #5c5d61fd;
    --color-secundario: rgb(247, 126, 13);
}
html{    
    scroll-behavior: smooth;
}
body{
    font-family: 'PT Mono', monospace;
}

/* Header y nav */

.header-nav-wrapper{
 position:fixed;
 width: 100vw;
  z-index:1;               
} 
.header-nav-wrapper header{
     float:left;
    z-index:1;
    margin-top: 1.5rem;
    margin-left: 1.5rem;   
}
.header-nav-wrapper nav{
    float:right;   
    z-index:1;   
    margin-top: 1.5rem;
    margin-right: 10%;    
}
nav>ul li{
    display:inline-block;
    padding: .5rem;
}
nav a {
    display: block;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.1rem;
    transition: all 0.2s linear;
    color: rgb(128, 126, 126); 
}
nav a:hover {
    color: var(--color-secundario);
    border-bottom: 3px solid var(--color-secundario); 
}

/* Icono-Header */

.border-logo{    
    width: 4rem;
    height: 4rem;
    display: inline-block;
    border-radius: 10px;
    border: 4px solid var(--color-logo);
    position: relative;
    transition: transform 1s ease-in-out;
}
 .border-logo .text-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform .8s ease-in-out;
    font-size: 2rem;
    color: var(--color-logo);
 }
 .border-logo:hover {
    opacity: .9;
    transform: rotate(360deg);
    background-color: var(--color-secundario); 
    border: 4px solid var(--color-secundario);
  }
  .border-logo:hover .text-logo {
    color: white;
    transform: translate(-50%, -50%) rotate(360deg);
  }
    
/* Section portada */

section#portada header{
    height: 100vh;        
}
section#portada h1{
    float:left;
    width:55%;
    min-width: 350px;    
    padding-top:140px;
    text-align: center;
    font-size: 4.5rem;
    line-height: 1.4;
    color: var(--color-logo);
}
section#portada .hola{
    font-size:7rem;
    color:var(--color-logo);
}
section#portada .nombre{
    color: white;
    background-color:var(--color-logo);
    padding: .8rem;    
}
section#portada .image-portada-wrapper{
    height: 100vh;
    width: 40%;
    min-width: 380px;
    /* top:10%;
    right:5%; */     
    float:left; 
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    background-image: url(./assets/Retrado_sinfondo2.png);
    animation: titulo 30s linear;
    animation-fill-mode: backwards;
}
@keyframes titulo {
    0% {
    transform:  scale(1);
    }
    10% {
        transform: scale(1.04);    
    }
    20% {
      transform: scale(1.08); 
    }
    30% {
        transform: scale(1.12);   
      }
    40% {
      transform: scale(1.16);   
    }
    50% {
      transform: scale(1.2);  
    }
    60% {
        transform: scale(1.16);    
      }
    70% {
        transform: scale(1.12);
     }
    80% {
      transform: scale(1.08);     
    }
    90% {
        transform: scale(1.04);       
      }
    100% {
      transform: scale(1);     
    }
  }

/* Secciones*/

section h2{
    padding-top: 3rem;
    padding-bottom: 2rem;    
    font-size: 5rem;
    text-align: center;
    clear:both;
}
section p{
    padding: 1rem 2rem;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.4;
}

/* Sección sobre mi */


section#sobre-mi .sobre-mi-imagen {
    width: 35%;
    min-width: 380px;   
    float: left;
}
section#sobre-mi .text-sobre-mi-wrapper{
    display: inline-block;
    margin-bottom: 3rem;
    
    width: 60%;
   
    min-width:380px;
}



/* Sección Formación */

section#formacion p:nth-of-type(4){
    background-color: rgb(55, 157, 224);
    border-radius: 5px;
    width: 80%;
    min-width: 380px;
    margin: 0.5rem auto;
}
section#formacion .lenguajes{
    position: relative;
    text-align: center;
    font-size: 1.4rem;   
    color:white; 
}

section#formacion li{
    margin:.8rem;
    list-style: none;
}
section#formacion li::before {
    content: "•"; 
    padding-right: 8px;
    color:var(--color-secundario); 
    font-size: 1.5rem;
}
section#formacion .cv{
    text-align: center;
    font-size: 2rem;
    color: rgb(55, 157, 224);
}
section#formacion .cv>a{
    color:var(--color-secundario);
    font-size: 2.5rem;
}

/* Experiencia */
.fa-linkedin{
    color: rgb(22, 22, 165);
}
section#experiencia article{
    text-align: center;
}
section#experiencia a{
    display:inline-block;    
}
section#experiencia .experiencia-imagen{
    margin: .8rem;
    float: left;
    width: 35%;
    min-width: 350px;
}

section#experiencia p:nth-of-type(4){
    display:inline-block;   
}


/* Sección Contacto */
form{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;

}
section#contacto input, section#contacto textarea,
section#contacto button {
    padding: 0.8rem;
    margin:0.6rem;
    letter-spacing: normal; 
    border: 0px solid; 
    border-bottom: 1px solid rgb(199, 189, 189);
    width: 50%;
    min-width: 380px;
    font-family: 'PT Mono', monospace;   
    font-size: 1.5rem;    
}
section#contacto button{
    border: 0px solid; 
}

section#contacto textarea{
    height: 8rem;
    font-size:1.1rem;
}

/* Footer */
footer p{
    margin-top: 3rem;
    text-align: center;
    font-family: 'PT Mono', monospace;  
}